@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --primary-color: #333333; 
    --secondary-color: #e4760f; 
    --nav-background-color: #f8e7db; 
    --nav-link-color: #48e5c2; 
    --nav-hover-link-color: #fcfaf9; 
    --nav-hover-background-color: #f6ddcc; 
}

h1 {
    display:block;
    font-size: 1.5rem; 
    font-family: acme, arial, sans-serif;
    font-weight: bold; 
 
}

h2 {
    font-size: 40px; 
    font-weight: bold; 
    color: var(--secondary-color); 
}


p {
    font-size: 22px; 
    line-height: 1.5; 
    color: var(--primary-color); 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.hero {
    position: relative; 
}

.hero img {
    display: block; 
    width: 100%; 
    height: 400px;

}
.hero article img {
    display: block; 
    width: 20%; 
    height: 50%;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    max-width: 100%;
}

.hero article {
    position: absolute; 
    bottom: 20%; 
    top: 20%;
    left: 50%; 
    transform: translateX(-50%); 
    background-color: rgba(79, 161, 255, 0.5); 
    padding: 20px; 
    color: black; 
    max-width: 80%; 
  
}
.hero h1 {
    position: absolute; 
    top: 12%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
    text-align: center; 
}

.history p {

    justify-content: center;

}
.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20% 70% 10%;
    padding: 2%;
    align-items: center;
}
.adventure h2 {
    grid-row-start: 1;
    align-content: center;
}
.adventure img {
    margin: 1rem;
    width: 90%; 
    height: 90%;
    grid-row-start: 2;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.adventure p{
    grid-row-start: 3;
    display: block;
    list-style: none;
}

footer {
    display: block;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #ffffff; 
    color: #333333;
    text-align: center; 
    padding: 20px 0; 
}

.sociallinks {
    margin-top: 20px; 
}

.sociallinks a {
    margin: 30px; 
}

.sociallinks img {
    width: 30px; 
    height: auto;
}
header {
    font-size: 1.5em;
    margin: 1rem auto;
    display: flex;
    padding: 20px;
    grid-template-columns: 200px 1fr 1fr;
    align-items: center;
    border-bottom: 2px solid #ccc;
    max-width: 800px;
}

.nav {
    text-align: right;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation a {
	display: block;
	color: blue;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

section h2 {
    text-align: center;
}

